.container {
  position: relative;
  width: 100%;
  min-height: 800px;
  max-height: 984px;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;
  padding-top: 92px;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/* BG */
.bg_image_wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.bg_image {
  position: absolute;
  opacity: 0.9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: url(/assets/perfomance_bg.jpg);
  transform: rotate(315deg);
  width: 2562px;
  height: 1904px;
  top: -211px;
  left: -381px;
}
/* PHOTO */
.photo_top {
  position: absolute;
  left: 150px;
  top: 65px;
  z-index: 10;
}

.photo_middle {
  position: absolute;
  left: 20px;
  top: 387px;
  z-index: 20;
}
.photo_bottom {
  position: absolute;
  left: 840px;
  top: 400px;
  z-index: 10;
}
.photo_top img {
  width: 310px;
}
.photo_middle img {
  width: 220px;
}
.photo_bottom img {
  width: 380px;
}

/* TEXT */
.text {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-family: var(--font-akrobat);
  z-index: 20;
}
.text_top {
  width: 560px;
  left: 350px;
  top: 300px;
}

.title {
  font-size: 100px;
  line-height: 1.55;
  font-weight: bold;
  font-family: var(--font-pt-serif);
  z-index: 40;
}
.title_top {
  position: absolute;
  left: 310px;
  top: 155px;
}

/* MEDIA */
@media screen and (max-width: 1200px) {
  .photo_bottom {
    left: 600px;
    top: 555px;
  }
}
@media screen and (max-width: 960px) {
  .title {
    font-size: 80px;
  }
  .title_top {
    left: 70px;
    top: 165px;
  }
  .text {
    font-size: 1rem;
  }
  .text_top {
    width: 250px;
    left: 290px;
  }
  .photo_bottom {
    left: 320px;
    top: 505px;
  }
}

@media screen and (max-width: 640px) {
  .title_top {
    left: 10px;
    top: 160px;
  }
  .text_top {
    left: 190px;
    top: 295px;
  }
  .photo_bottom {
    left: 100px;
    top: 560px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 960px;
  }
  .title {
    font-size: 45px;
  }
  .title_top {
    left: 0;
    top: 250px;
  }
  .text_top {
    width: 210px;
    left: 70px;
    top: 405px;
  }
  .photo_middle {
    left: -160px;
    top: 420px;
  }
  .photo_bottom {
    left: 60px;
  }
}
