.container {
  position: relative;
  padding-top: 46px;
  width: 100%;
  min-height: 800px;
  height: 984px;
  color: #ffffff;
  overflow: hidden;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}
.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 20;
}
.logo > img {
  width: 640px;
  height: 141px;
}

.bg_image_wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.bg_image {
  position: absolute;
  opacity: 0.95;
  transform: rotate(5deg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/bg_papa.webp);
  width: 1508px;
  left: 180.5px;
  top: -419px;
  height: 1904px;
}

.photo_top {
  position: absolute;
  top: 100px;
  left: 790px;
}
.photo_middle {
  position: absolute;
  top: 425px;
  left: 110px;
}
.photo_bottom {
  position: absolute;
  top: 580px;
  left: 740px;
}
.photo_bottom > img {
  width: 410px;
}
.text {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-family: var(--font-akrobat), sans-serif;
  z-index: 20;
}
.text_top {
  width: 560px;
  top: 215px;
  left: 190px;
}
.text_bottom {
  width: 560px;
  top: 415px;
  left: 500px;
}

@media screen and (max-width: 1200px) {
  .bg_image {
    left: -337px;
    top: -117px;
  }
  .photo_top {
    top: 95px;
    left: 660px;
  }
  .photo_middle {
    left: 0;
  }
  .photo_bottom {
    top: 575px;
    left: 550px;
  }
  .text_bottom {
    left: 350px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  .photo_top {
    top: 55px;
    left: 300px;
  }
  .photo_middle {
    top: 605px;
    left: 40px;
  }
  .photo_bottom {
    top: 600px;
    left: 340px;
  }
  .text_top {
    left: 50px;
  }
  .text_bottom {
    left: 130px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding-top: 0;
    min-height: 900px;
  }
  .logo {
    margin-top: 35px;
  }
  .logo > img {
    width: 330px;
    height: 73px;
  }
  .photo_middle {
    top: 590px;
  }
  .photo_bottom {
    top: 630px;
    left: 300px;
  }
  .text {
    font-size: 18px;
  }
  .text_top {
    width: 430px;
    top: 135px;
    left: calc((100vw - 390px) / 2);
  }
  .text_bottom {
    width: 360px;
    top: 350px;
    left: calc((100vw - 320px) / 2);
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 1020px;
  }
  .logo {
    margin-top: 15px;
  }
  .logo > img {
    width: 220px;
    height: 48px;
  }

  .bg_image {
    left: -872px;
    top: -483px;
  }
  .photo_top {
    top: 75px;
    left: 0;
  }
  .photo_middle {
    display: none;
  }
  .photo_bottom {
    top: 740px;
    left: -60px;
  }
  .text_top {
    width: 240px;
    left: calc((100vw - 200px) / 2);
  }
  .text_bottom {
    width: 240px;
    top: 425px;
    left: calc((100vw - 200px) / 2);
  }
}
