.container {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 2rem 0;
}
.wrapper {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  margin: auto;
}

.title {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.content {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 495px;
}

.poster {
  min-width: 450px;
}
.poster:hover {
  cursor: pointer;
}
.text {
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: var(--font-akrobat);
  line-height: 1.55;
  font-weight: 400;
  margin-left: 3rem;
  padding: 2rem;
}

.link {
  color: #ffaf36;
  text-decoration: none;
}

.wrapper_next {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;
}
/* .foto_papa img {
  filter: grayscale(1);
}
.foto_papa.inView img {
  filter: grayscale(0);
  transition: filter 1s 1.75s ease-in-out;
} */
.foto_papa:hover {
  cursor: pointer;
}
.foto_handmaid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
}
.handmaid_top,
.handmaid_bottom {
  cursor: pointer;
}
.handmaid_top {
  transform: translate(15px, 20px);
}
.handmaid_bottom {
  transform: translate(-15px, 20px);
}
.next_text {
  flex-grow: 1;
  margin: 0 2rem;
  padding: 1rem;
  background: #000;
  color: #fff;
  font-size: 20px;
  font-family: var(--font-akrobat);
  line-height: 1.55;
  font-weight: 400;
  max-width: 400px;
}

/* MEDIA */
@media screen and (max-width: 960px) {
  .container {
    padding: 0;
  }
  .wrapper {
    padding: 1rem;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .text {
    margin-left: 0;
  }
  .poster {
    max-width: 100vw;
    min-width: 0;
  }

  .wrapper_next {
    flex-direction: column;
  }
  .foto_handmaid {
    flex-direction: row;
    justify-content: space-around;
  }
  .handmaid_bottom {
    transform: translate(-15px, -20px);
  }
  .next_text {
    max-width: 100%;
  }
  .foto_papa {
    align-self: center;
  }
}
