.container {
  background: var(--black);
  width: 100%;
  position: relative;
}
.video_wrapper {
  position: relative;
  width: 100%;
  background: var(--black);
  height: calc(100vw * 0.5625);
  max-width: 100%;
}

.video_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.muteButton {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  font-size: 35px;
  padding: 20px;
  font-family: "OpinionPro", Arial, sans-serif;
  color: white;
  text-align: center;
  z-index: 999;
}
.muteButton > div {
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  padding: 12px;
  font-size: 18px;
  background: black;
}
