.container {
  position: relative;
  width: 100%;
  min-height: 500px;
  max-height: 984px;
  height: 100vh;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  padding-top: 242px;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/* TEXT */
.text {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-family: var(--font-akrobat);
  z-index: 20;
}
.text_top {
  max-width: 610px;
  left: 530px;
  top: 155px;
}

.title {
  font-size: 100px;
  line-height: 1.55;
  font-weight: bold;
  font-family: var(--font-pt-serif);
  z-index: 40;
  position: absolute;
  text-align: center;
}
.title_top {
  width: 914px;
  left: -60px;
  top: -55px;
}
.name {
  position: absolute;
  width: 160px;
  font-size: 1.25rem;
  line-height: 1.35;
  font-family: var(--font-akrobat);
  font-weight: bold;
  color: #fff;
  z-index: 40;
}
.name_left {
  left: 50px;
  top: 495px;
}
.name_right {
  left: 290px;
  top: 495px;
}

/*PHOTO*/
.photo {
  position: absolute;
  left: 20px;
  top: 130px;
  width: 470px;
  z-index: 10;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  .text_top {
    max-width: 430px;
    left: 520px;
    top: 50px;
  }
  .title {
    font-size: 70px;
  }
  .title_top {
    left: -320px;
    top: -45px;
  }
  .name_left {
    left: 70px;
    top: 395px;
  }
  .name_right {
    left: 280px;
    top: 395px;
  }
  .photo {
    left: 10px;
    top: 55px;
    width: 480px;
    height: 325px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    padding-top: 36px;
  }
  .text_top {
    max-width: 480px;
    left: 80px;
    top: 540px;
  }
  .title_top {
    left: -140px;
    top: 15px;
  }
  .name_left {
    top: 460px;
  }
  .name_right {
    left: 360px;
    top: 460px;
  }
  .photo {
    left: 85px;
    top: 130px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    min-height: 980px;
  }
  .text {
    font-size: 1rem;
  }
  .text_top {
    max-width: 350px;
    left: 60px;
    top: 535px;
  }
  .title {
    font-size: 50px;
  }
  .title_top {
    left: -220px;
    top: 25px;
  }
  .name {
    width: 350px;
    font-size: 1rem;
  }
  .name_left {
    left: 60px;
    top: 445px;
  }
  .name_right {
    left: 280px;
    top: 445px;
  }
  .photo {
    left: 5px;
    top: 105px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 890px;
  }
  .text_top {
    max-width: 250px;
    left: 40px;
    top: 395px;
  }
  .title {
    font-size: 36px;
    text-align: left;
  }
  .title_top {
    left: 30px;
    top: 30px;
  }
  .name {
    width: 250px;
  }
  .name_left {
    left: 30px;
    top: 325px;
  }
  .name_right {
    left: 180px;
    top: 325px;
  }
  .photo {
    left: 0;
    top: 90px;
    width: 320px;
    height: 216px;
  }
}
