.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    color: #fff;
}

@media (min-width: 769px) {
    .container {
        width: 60%
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.item {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.66rem;
    list-style: none;
    margin-left: 0;
}

.item a {
    text-decoration: underline;
}

.item span {
    font-weight: normal;
}

.flag {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4px;
    margin-top: -3px;
    margin-right: 8px;
}