@import "animista.css";
@import "button.css";

@font-face {
  font-family: "Akrobat";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/akrobat/Akrobat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Akrobat";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/akrobat/Akrobat-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Akrobat";
  font-display: auto;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/akrobat/Akrobat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Akrobat";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/akrobat/Akrobat-ExtraBold.woff2") format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --footer_bg: #231f20;
  --max-width: 1200px;
  --font-pt-serif: "PT Sans", sans-serif;
  --font-akrobat: "Akrobat";
  --shadows-md: 0 4px 6px -1px rgba(255, 255, 255, 0.1),
    0 2px 4px -1px rgba(255, 255, 255, 0.06);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-pt-serif);
  /* -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

body {
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/back_02_small.jpg); */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.background {
  background-image: var(--background-img, url(/assets/back_02_small.jpg));
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  z-index: -1;
}

.external-link {
  color: #ffaf36;
  text-decoration: none;
}

.error {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff013c;
  font-size: 1.5rem;
  flex-direction: column;
  text-shadow: #00e6f6 3px 3px;
  padding: 0 1rem;
  text-align: center;
}
