.container {
  position: relative;
  width: 100%;
  min-height: 800px;
  max-height: 984px;
  height: 100vh;
  color: #ffffff;
  overflow: hidden;
  padding-top: 92px;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

/* BG */
.bg_image_wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.bg_image {
  position: absolute;
  opacity: 0.9;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-image: url(/assets/sints_bg.jpg);
  width: 2562px;
  height: 1904px;
  top: -298px;
  left: -265.5px;
}
/* PHOTO */
.photo_top {
  position: absolute;
  top: 60px;
  left: 130px;
  z-index: 20;
}

.photo_middle {
  position: absolute;
  top: 400px;
  left: 840px;
  z-index: 20;
}
.photo_bottom {
  position: absolute;
  top: 685px;
  left: 430px;
  z-index: 20;
}
.photo_top img {
  width: 310px;
}
.photo_middle img {
  width: 380px;
}
.photo_bottom img {
  width: 410px;
}

/* TEXT */
.text {
  position: absolute;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.55;
  font-family: var(--font-akrobat);
  z-index: 20;
}
.text_top {
  width: 560px;
  top: 153px;
  left: 500px;
}
.text_bottom {
  width: 560px;
  top: 395px;
  left: 260px;
}
.title {
  font-size: 100px;
  line-height: 1.55;
  font-weight: bold;
  font-family: var(--font-pt-serif);
  z-index: 40;
}
.title_top {
  position: absolute;
  left: 540px;
  top: -15px;
}
.title_bottom {
  position: absolute;
  left: -26px;
  top: 373px;
}

/* MEDIA */
@media screen and (max-width: 1200px) {
  .photo_top {
    left: 0;
  }
  .photo_middle {
    top: 320px;
    left: 800px;
  }
  .photo_bottom {
    left: 40px;
    top: 700px;
  }
  .text_top {
    top: 155px;
    left: 320px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    min-height: 1080px;
  }
  .photo_middle {
    top: 730px;
    left: 400px;
  }
  .photo_middle img {
    width: 230px;
  }
  .photo_bottom {
    left: 10px;
    top: 740px;
  }
  .title {
    font-size: 80px;
  }
  .title_top {
    position: absolute;
    left: 310px;
    top: -10px;
  }
  .title_bottom {
    position: absolute;
    left: 10px;
    top: 375px;
  }
  .text {
    font-size: 1rem;
  }
  .text_top {
    width: 290px;
  }
  .text_bottom {
    width: 330px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    min-height: 1240px;
  }
  .photo_middle {
    top: 1000px;
    left: 430px;
  }
  .photo_bottom {
    left: 0px;
    top: 760px;
  }
  .title_top {
    position: absolute;
    left: 130px;
    top: 195px;
  }
  .title_bottom {
    position: absolute;
    left: 110px;
    top: 460px;
  }
  .text_top {
    top: 310px;
    left: 130px;
  }
  .text_bottom {
    top: 575px;
    left: 120px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 1580px;
  }
  .photo_middle {
    top: 1452px;
    left: 150px;
  }
  .photo_middle img {
    width: 170px;
  }
  .photo_bottom {
    left: -60px;
    top: 1180px;
  }
  .title_top {
    position: absolute;
    left: 100px;
    top: 185px;
  }
  .title_bottom {
    position: absolute;
    left: 90px;
    top: 605px;
  }
  .text_top {
    top: 325px;
    left: 110px;
    width: 160px;
  }
  .text_bottom {
    width: 250px;
    top: 760px;
    left: 60px;
  }
}
